body {
  font-family: verdana;
  font-size: 1.5em;
  background-color: #fff;
  margin: 2em;
}
body pre {
  background-color: #444;
  color: #0f0;
  padding: 1em;
  font-size: 1.3em;
  tab-size: 0;
  font-family: Courier;
  line-height: 1.2em;
}
body a {
  color: blue;
  text-decoration: none;
}
body button {
  border: none;
  font-size: 1em;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 0.2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
body #target {
  color: black;
  background-color: #aaa;
  padding: 10px;
}
